/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Obscura-Regular';
  src: url('../public/fonts/Obscura-Regular.ttf');
}

body {
  font-family: 'Metrophobic', sans-serif;
}

h1,
h2,
h3 {
  color: rgb(75 85 99);
  font-family: "Taxicab", sans-serif;
}

p {
  color: rgb(156 163 175);
}
