/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

body.not(i) {
  font-family: 'Metrophobic', sans-serif;
}

h1,
h2,
h3 {
  color: rgb(75 85 99);
  font-family: "Taxicab";
}

p {
  color: rgb(156 163 175);
}
