/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Obscura-Regular';
  src: url('../public/fonts/Obscura-Regular.ttf');
}

body {
  font-family: 'Metrophobic', sans-serif;
}
